* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrap {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

@media (min-width: 1092px) {
    .sidebar {
        float: left;
        position: fixed;
        width: 25%;
        height: 100%;
        font-size: 22px;
        line-height: 1.75;
        color: #ccc;
        padding: 50px 20px;
        background: #000;
    }
    .sidebar-container {
        height: 20%;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 30%;
    }
    .sidebar-container a{
        color: #fff;
        line-height: 50px;
    }
    .sidebar-container a:hover {
        color: #fff;
    }
    
    .img {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        margin-bottom: 5%;
    }
    .img img {
        width: 100%;
        height: 100%;
    }

    .sidebar-nav {
        margin: 10% 0;     }
    .sidebar-nav.active {
        font-weight: bold;
    }
    .sidebar-nav a {
        display: block;
    }
    
    .myContent {
        float: right;
        width: 75%;
    }
    .content-container{
        margin: 10% 5%;
        font-size: 20px;
        line-height: 45px;
    }
    

}

@media (max-width: 1091px) {

    .sidebar {
        width: 100%;
        font-size: 22px;
        line-height: 1.75;
        color: #ccc;
        padding: 50px 20px;
        background-color: palevioletred;
    }
    .sidebar-container {
        padding: 0 20px;
        margin: 0 auto;
    }
    
    .img {
        width: 60%;
        margin: 0% auto;
    }
    .img img {
        width: 100%;
        height: 100%;
    }

    .myContent {
        width: 100%;
        height: 100%;
    }
    .content-container {
        margin:  5%;
        font-size: 20px;
        line-height: 45px;
    }
}



/* 六方体旋转动画 */
.parent {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    transform: rotate(45deg);
    transform-style: preserve-3d;
    transition: transform 1s linear;
    animation: col 30s linear infinite;
}

@keyframes col {
    0% {
        transform: rotateX(0deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.parent > div {
    width: 50px;
    height: 50px;
    position: absolute;
    border: none;
}
.parent > div:nth-child(1) {
    background: url(/public/images/css.jpg) no-repeat 0 0;
    background-size: cover;
    transform: translateZ(-50px);
    transition: transform 1s linear;
}

.parent > div:nth-child(2) {
    background: url(/public/images/js.jpg) no-repeat 0 0;
    background-size: cover;
    transform: rotateY(-90deg) translateZ(50px);
    transition: transform 1s linear;
}

.parent > div:nth-child(3) {
    background: url(/public/images/wenzhang.jpg) no-repeat 0 0;
    background-size: cover;
    transform: rotateY(-90deg) translateZ(-50px);
    transition: transform 1s linear;
}

.parent > div:nth-child(4) {
    background: url(/public/images/git1.png) no-repeat 0 0;
    background-size: cover;
    transform: rotateX(90deg) translateZ(50px);
    transition: transform 1s linear;
}

.parent > div:nth-child(5) {
    background: url(/public/images/php.png) no-repeat 0 0;
    background-size: cover;
    transform: rotateX(90deg) translateZ(-50px);
    transition: transform 1s linear;
}

.parent > div:nth-child(6) {
    background: url(/public/images/English.jpg) no-repeat 0 0;
    background-size: cover;
    transform: translateZ(50px);
}



/* 左边或者上面a标签样式设置 */
.sidebar-container a{
    color: #fff;
}
.sidebar-container a:hover {
    color: #fff;
}
.sidebar-nav{
    margin-bottom: 2%;
}
.sidebar-nav a {
    margin-right: 5%;
}



/*///////////// 文章内容部分样式设置  */
.content-container h2{
    text-align: center;
}

.contMsg{
    width: 100%;
    margin-top: 3%;
}
.Msg li{
    float: left;
    font-size: 17px;
    padding: 0 20px;
    margin-right: 20px;
}
.original, .belongTo {
    border-radius: 48px;
    box-sizing: border-box;
    background-color: #f9ecec;
}
.Msg:after{
    content: '';
    display: block;
    clear: both;
}



/* ///////////////////nav-bar的css样式 */
#color-bar {
    display: block;
    position: absolute;
    top: 1%;
    right: 1%;
    z-index: 10;
    height: 24px;
}
#bar {
    height: 4px;
    width: 1.5em;
    margin: 8px 0;
    transition: all .3s;
    background-color: #7b7b7b;
}
#bar:after, #bar:before {
    content: '';
    display: block;
    position: relative;
    height: 4px;
    width: 1.5em;
    background-color: #7b7b7b;
    transition: all 0.3s ease-in;
}
#bar:before {
    top: -8px;
}
#bar:after {
    top: 4px;
}
/* 点击bar后改变其样式 */
#bar.bar::before {
    top: 0px;
    transform: rotate(-45deg);
}
#bar.bar::after {
    transform: rotate(45deg) translatey(-5px);
    top: 0px;
    left: -4px;
}
/*///////////// 文章内容右上角样式设置  */
.color {
    width: 200px;
    height: 235px;
    text-align: center;
    background-color: #f4f4f4;
    box-shadow: -3px 3px 5px #ccc;
    position: absolute;
    top: 1%;
    right: 1%;
    display: none;
}
.color-container {
    margin: 25px 5px;
}
.color p {
    font-size: 20px;
}

.color-list {
    width: 100%;
    /*border: 1px solid #901;*/
}
.color-list li {
    width: 40px;
    height: 40px;
    float: left;
    margin: 11px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #ccc;
}
.colorBox_1 {
    background-color: #000;
}
.colorBox_2 {
    background-color: #60955F;
}
.colorBox_3 {
    background-color: #F1B1D6;
}
.colorBox_4 {
    background-color: #fff;
}
.colorBox_5 {
    background-color: #324362;
}
.colorBox_6 {
    background-color: #4E3184;
}

.color-list::after {
    content: '';
    display: block;
    clear: both;
}



/*///////////// 文章底部样式设置  */
.toolbox{
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 7%;
}
.toolbox:after{
    content: '';
    display: block;
    clear: both;
}
.toolbox li{
    float: left;
    font-size: 17px;
    padding: 5px 7px;
    margin-right: 3%;
    background-color: #f5f6f7;
}
.toolbox li:hover{
    cursor: pointer;
    box-shadow: 3px 3px 3px #ccc;
}


/* 评论区样式 */
.commentbox{
    width: 100%;
    margin: 20px auto;
}
.mytextarea {
    width: 100%;
    overflow: auto;
    word-break: break-all;
    height: 100px;
    color: #000;
    font-size: 1em;
    resize: none;
}
.comment-list{
    width: 100%;
    margin: 20px auto;
    clear: both;
    padding-top: 20px;
}
.comment-list .comment-info{
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
}
.comment-list .comment-info header{
    width: 10%;
    position: absolute;
}
.comment-list .comment-info header img{
    width: 100%;
    border-radius: 50%;
    padding: 5px;
}
.comment-list .comment-info .comment-right{
    padding:5px 0px 5px 11%; 
}
.comment-list .comment-info .comment-right h3{
    margin: 5px 0px;
}
.comment-list .comment-info .comment-right .comment-content-header{
    height: 25px;
}
.comment-list .comment-info .comment-right .comment-content-header span,.comment-list .comment-info .comment-right .comment-content-footer span{
    padding-right: 2em;
    color: #aaa;
}
.comment-list .comment-info .comment-right .comment-content-header span,.comment-list .comment-info .comment-right .comment-content-footer span.reply-btn,.send,.reply-list-btn{
    cursor: pointer;
}
.comment-list .comment-info .comment-right .reply-list {
    border-left: 3px solid #ccc;
    padding-left: 7px;
}
.comment-list .comment-info .comment-right .reply-list .reply{
    border-bottom: 1px dashed #ccc;
}
.comment-list .comment-info .comment-right .reply-list .reply div span{
    padding-left: 10px;
}
.comment-list .comment-info .comment-right .reply-list .reply p span{
    padding-right: 2em;
    color: #aaa;
}



/* 上一页/下一页样式设置 */
.choosePage{
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin-top: 10%;
}
.choosePage:after {
    content: '';
    display: block;
    clear: both;
}
.choosePage ul{
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 3px #ccc;
}
.choosePage ul:hover{
    background-color: #e3b4b8;
}
.choosePage a:hover{
    text-decoration: none;
}
.prePage{
    float: left;
} 
.nextPage{
    float: right;
}



/* 返回顶部 */
.backTop{
    display: block;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
    position: absolute;
    top: 97%;
    right: 1%;
}
a.backTop{
    color: #000;
}





